{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}Home Page !{% endblock %}

{% block body %}
<div class="container">
    {% if serieWithMostComments %}
        <div class="row">
            <div class="col-lg-6">
                <h1>Most commented : </h1>
                {{ macro.serieView(serieWithMostComments) }}
            </div>

    {% endif %}
    {% if serieMostLike %}
            <div class="col-lg-6">
                <h1>Most Liked : </h1>
                {{ macro.serieView(serieMostLike) }}
            </div>
        </div>
    {% endif %}
        {% if seriesRandom %}
            <h1>You may also like : </h1>
            <div class="row">
                    {% for serie in seriesRandom %}
                         <div class="col-lg-4">
                         {{ macro.serieView(serie) }}
                        </div>
                    {% endfor %}
            </div>
        {% endif %}
{% endblock %}
