{% extends 'base.html.twig' %} 
{% import 'macros.html.twig' as macro %} 
{% block title %}Home Page !
{% endblock %} 
{% block body %}



    <div class="presentation">
        <div class="presentation_content">
            <h1>Lorem ipsum dolor, sit amet </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aspernatur rem. Vel vero necessitatibus
                at, minus
                hic maiores quas consequuntur ad possimus? Cupiditate hic doloremque facere ab quo voluptates
                voluptas!</p>
            <a href="">Je suis un bouton</a>
        </div>
        <div class="presentation_image">
            <img src="" alt=""/>
        </div>
    </div>

    <div class="recommandations">
        <h3>Vos dernières
            <b>recommandations</b>
        </h3>
        <div class="recommandation_list">
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
            <div class="recommandation_item">
                <img src=""/>
            </div>
        </div>
    </div>

    <div class="most_commented">
        <h3>La série la
            <b>plus commentés</b>
        </h3>
        <div class="most_commented_movie">
            <img src="" alt="">
            <div class="movie_description">
                <h4>13 Reason why</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore omnis nihil odit adipisci, porro
                    possimus ea
                    velit alias molestiae eveniet eum iusto animi impedit sapiente aspernatur quaerat excepturi
                    consectetur dolorum!</p>
                <a class="button" href="">Je suis un boutton</a>
            </div>
        </div>
    </div>

    <div class="trending">
        <h3>La série favorite du <b>moment</b></h3>
        <div class="trending_movie">
            <img src="" alt="">
            <div class="movie_description">
                <h4>13 Reason why</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore omnis nihil odit adipisci, porro
                    possimus ea
                    velit alias molestiae eveniet eum iusto animi impedit sapiente aspernatur quaerat excepturi
                    consectetur dolorum!</p>
                <a class="button" href="">Je suis un boutton</a>
            </div>
        </div>
    </div>





    <!-- <div class="container">
    {% if serieWithMostComments %}
    <div class="row">
        <div class="col-lg-6">
            <h1>Most commented : </h1>
            {{ macro.serieView(serieWithMostComments) }}
        </div>

        {% endif %} {% if serieMostLike %}
        <div class="col-lg-6">
            <h1>Most Liked : </h1>
            {{ macro.serieView(serieMostLike) }}
        </div>
    </div>
    {% endif %} {% if seriesRandom %}
    <h1>You may also like : </h1>
    <div class="row">
        {% for serie in seriesRandom %}
        <div class="col-lg-4">
            {{ macro.serieView(serie) }}
        </div>
        {% endfor %}
    </div>
    {% endif %}--> {% endblock %}