.form_container {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding-right:$spacing-large*6;

    h3 {
        font-size: $title-size-large*2;
        margin-bottom: $spacing-large;
        @include screen-sm() {
            font-size: $title-size-large;
            margin-bottom: $spacing-large;
        }
    }

    @include screen-sm() {
        height: auto;
        width: 100%;
        padding-right:0;
        padding: $spacing-large;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: auto;
        // padding-right:$spacing-large*6;

        @include screen-sm() {
            width: 100%;
            padding-right:0;
        }

        label {
            margin-left: $spacing-medium;
            margin-bottom: $spacing-small;
            font-weight: bold;
        }

        input, button, textarea { 
            color:black;
            background-color:$c-white;
            border-radius: 3rem;
            padding: $spacing-medium;
            margin-bottom: $spacing-large*1.5;
        }

        button[type=submit] {
            width: fit-content;
            background-color:$c-primary;
            border: none;
            width: 40%;
        }

        input[type="checkbox"]{
            background-color: $c-white;
            border: 1px black solid;
        }

        input[type="file"]{
            background-color: $c-white;
            border: 1px black solid;
        }

        .form_error {
            width: 100%;
            padding: $spacing-small;
            border: 1px red solid;
            border-radius: 0.4rem;
            margin-bottom: $spacing-large;
        }

        div#user {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex-direction: column;
            }
        }
    }
}