* {
  padding: 0; margin: 0; box-sizing: border-box;
}






.movie_present {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Public Sans";

  margin: $spacing-large*4 $spacing-large*10;
  .movie_present_pretitle {
      color: $c-white;
      font-size: $title-size-large*1.75;
      b {
          color:$c-primary;
      }
  }
  .movie_presentation {
      display: flex;
      img {
        margin-right: $spacing-large;
        width: 25%;
      }
      .movie_present_desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 50%;
        h4 {
            font-size: $title-size-large*1.5;
        }
        p {
            font-size: $text-size-large;
            margin: $spacing-large*1.5 0px;
            line-height: $text-size-large*1.50;
        }
      }
  }

  .mediator {
    position: absolute;
    z-index: -1;
    top: 50%;
    left:-16%;
    transform: translateY(-50%);
  }
}

