$c-primary : #FBC806;
$c-secondary : #D28056;

$c-black : #262626;
// $c-darkgrey : #000000;
// $c-grey : #000000;
// $c-lightgrey : #000000;
$c-white : #FFFFFF;

$text-size-small : 0.875rem;
$text-size-normal : 1rem;
$text-size-large : 1.125rem;

$title-size-small : 1.250rem;
$title-size-normal : 1.750rem;
$title-size-large : 2.250rem;

$spacing-small: 0.500rem;
$spacing-medium: 1rem;
$spacing-large: 1.500rem;

$query-mobile-screen: 640px;
$query-tablet-screen: 1024px;