@import "variable";
@import "mixin";
@import "global";
@import "font";

@import "home";
@import "_global.scss";
@import "global";
@import "kind";
@import "elements/card";
@import "404";
@import "episode";
@import "profile";

@import "components/footer";
@import "components/header";

@import "elements/button";
@import "elements/form";
@import "elements/pagination";

.container_full {
    font-family: "Public Sans";
    display: flex;
    flex-direction: column;
    width:100vw;
    min-height: 100vh;
}

.container {
    max-width:1296px;
    margin:auto;
    @include screen-md() {
        max-width: 90vw;
    }

    h2 {
        font-size: $title-size-large*1.5;
    }
    div {
        h2 {
            font-size: $title-size-large*1.5;
        }
    }
}