.presentation {
    display: flex;
    justify-content: space-between;
    .presentation_content {
        h1 {

        }
        p {

        }
        a {

        }
    }
    .presentation_image {
        img {

        }
    }
}

.recommandation_list {
    display: flex;
    justify-content: space-between;
}

.trending {
    display: flex;
    flex-direction: column;

    .trending_movie {
        display: flex;
        flex-direction: row;

        .movie_description {
            display: flex;
            flex-direction: column;
        }

    }
}