.presentation {
    display: flex;
    justify-content: space-between;
    .presentation_content {
        h1 {
            font-size: $text-size-large*2;;
        }
        p {

        }
        a {

        }
    }
    .presentation_image {
        img {

        }
    }
}