
.header {
  font-family: "Public Sans", Arial;
  font-weight: 500;
  display: flex;
  justify-content: center;

  margin-top: $spacing-medium;

  .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;

    div {
      display: flex;

      .navbar-item {
        align-self: center;
      }
    }

    .navbar-item {
      font-weight: 400;
      text-decoration: none;
      color: black;
      margin: 0 $spacing-medium;
    }
  }

  .avatar {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
}

