
.header {
  display: flex;
  justify-content: center;

  margin-top: $spacing-medium;

  .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:50%;

    .navbar-item {
      font-weight: 400;
      text-decoration: none;
      color: black;
    }
  }
}

