{% extends 'base.html.twig' %}

{% block title %}Kind index{% endblock %}

{% block body %}

    <div class="container">
        <h2>Parcourez par <span class="textOrange">catégorie</span></h2>
        <div class="container_cat">
            {% for key,serie in series %}
            <a href="{{ path('series_kind_show',{kind:key}) }}" class="cat">
                <h3>{{ key }}</h3>
                <span class="blackBG"></span>
                <img src="{{ base_url~serie.image }}" alt="">
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}



