<section class="footer container">
    <div class="footer_link">
        <div class="footer_link_items">
            <a href="">Accueil</a>
            <a href="">Liste des séries</a>
            <a href="">Catégories</a>
            <a href="">mentions légales</a>
            <span> | </span>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_logout') }}" role="button">
                    Disconnect
                </a>
            {% else %}
                <a role="button" href="{{ path('app_login') }}">Connexion</a>
                <a role="button" href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </div>
    </div>
    <div class="footer_mentions">
        <div class="footer_mentions_items">
            <a href="">
                <img src="{{ asset("images/logos/Logo.svg") }}" alt="">
            </a>
            <span>created by Team Synsy</span>
        </div>
    </div>
</section>

<script src="https://kit.fontawesome.com/f2080013da.js" crossorigin="anonymous"></script>