<section class="footer container">
    <div class="footer_link">
        <a href="">Accueil</a>
        <a href="">Liste des séries</a>
        <a href="">Catégories</a>
        <a href="">mentions légales</a>
        <span> | </span>
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" role="button">
            Disconnect
        </a>
        {% else %}
        <a role="button" href="{{ path('app_login') }}">Connexion</a>
        <a role="button" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
    </div>
    <div class="footer_mentions">
        <a href="">
            <img src="" alt="">
        </a>
        <span>created by Team Synsy</span>
    </div>
</section>