<section class="footer container">
    <div class="mentions">
        <a href=""><img src="" alt=""></a>
        <span class="createdBy"> team Symsymfony</span>
    </div>
</section>





<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-outline-success" href="#" role="button">
                    {{ app.user.username }}
                    {% if is_granted('ROLE_ADMIN') %}
                        -ADMIN-
                    {% endif %}
                </a>
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-outline-danger" href="{{ path('app_logout') }}" role="button">
                    Disconnect
                </a>
            {% else %}
                <a class="btn btn-primary" role="button" href="{{ path('app_login') }}">Log me</a>
                <a class="btn btn-primary" role="button" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</div>


