{% macro serieView(serie) %}

    <p>Name : {{ serie.name }}</p>
    <p>Score : {{ serie.score }}</p>
    <p><a href="{{ path('series_show',{id:serie.id}) }}"><img src="{{ base_url~serie.image  }}" /></a></p>

{% endmacro %}