{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <div class="form_container">
            <h3>Edit User</h3>

            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

            <!-- <img style="max-width:150px;" src="{{ asset(users_path~'/'~user.getAvatar())}}" class="img-thumbnail"/> -->

            <a href="{{ path('user_index') }}">Retour à la liste des utilisateurs</a>

            {{ include('user/_delete_form.html.twig') }}

        </div>
    </div>

{% endblock %}
